<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="css/app.css" rel="stylesheet" /> -->
    <link href="../static/css/app.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <!-- Personal Information -->
      <div class="header-name">{{ resumeData.personal.name }}</div>
      <div class="contact-info">
        <span>{{ resumeData.personal.phoneNumber }}</span>
        <span>
          <a href="mailto:{{ resumeData.personal.eMail }}"
            >{{ resumeData.personal.eMail }}</a
          >
        </span>
        <span style="white-space: nowrap">
          {{ resumeData.personal.city }}, {{ resumeData.personal.state }}
        </span>
        {% if resumeData.links.linkedin %}
        <span>
          <a href="{{ resumeData.links.linkedin }}"
            >{{ resumeData.links.linkedin }}</a
          >
        </span>
        {% endif %}
      </div>

      <hr class="separator" />

      {% if resumeData.personal.about %}
      <div class="profile">
        <div class="section-title">Profile</div>
        <p class="indent-paragraph">{{ resumeData.personal.about }}</p>
      </div>
      {% endif %}

      <div class="qualifications">
        <div class="section-title">Qualifications</div>
        <div class="indent-paragraph">
          {% if resumeData.qualifications.technicalSkills %}
          <div>
            <span style="font-weight: 600">Technical Skills:</span> {{
            resumeData.qualifications.technicalSkills | join(', ') }}
          </div>
          {% endif %} {% if resumeData.qualifications.professionalSkills %}
          <div>
            <span style="font-weight: 600">Professional Skills:</span> {{
            resumeData.qualifications.professionalSkills | join(', ') }}
          </div>
          {% endif %}
        </div>
      </div>

      <div class="education">
        <div class="section-title">Education</div>
        {% for edu in resumeData.education %}
        <div class="flex-between indent-paragraph">
          <div>
            <div>{{ edu.university }}</div>
            <div><strong>Major:</strong> {{ edu.major }}</div>
            {% if edu.minor %}
            <div><strong>Minor:</strong> {{ edu.minor }}</div>
            {% endif %} {% if edu.gpa %}
            <div>GPA: {{ edu.gpa }}</div>
            {% endif %}
          </div>
          <div class="text-right">
            {% if edu.graduationYear %}{{ edu.graduationYear }}{% endif %}
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Related Coursework -->
      {% if resumeData.relatedCoursework %}
      <div>
        <div class="section-title">Related Coursework</div>
        <div class="indent-paragraph">
          <span>{{ resumeData.relatedCoursework | join(', ') }}</span>
        </div>
      </div>
      {% endif %}

      <!-- Honors -->
      {% if resumeData.honors %}
      <div>
        <div class="section-title">Honors</div>
        <div class="indent-paragraph">
          {% for honor in resumeData.honors %}
          <div class="flex-between">
            <span
              >{{ honor.awardName }}, {{ honor.organizationName }}, {{
              honor.city }}, {{ honor.state }}</span
            >
            <span class="text-right">{{ honor.date }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <!-- Internship Experience -->
      {% if resumeData.internshipExperience %}
      <div>
        <div class="section-title">Internship Experience</div>
        {% for internship in resumeData.internshipExperience %}
        <div class="indent-paragraph">
          <div class="flex-between">
            <div>
              <span><strong>{{internship.organizationName}}</strong></span
              >{{' '}}
              <span> {{internship.city}}, {{internship.state}} </span>
            </div>
            <span className="float-right">
              {{internship.from}} - {{internship.to}}
            </span>
          </div>
          <ul>
            {% for bullet in internship.about.split('\\n') %}
            <li>{{ bullet }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      <!-- Work Experience -->
      {% if resumeData.workExperience %}
      <div>
        <div class="section-title">Work Experience</div>
        {% for work in resumeData.workExperience %}
        <div class="indent-paragraph">
          <span><strong>{{work.jobTitle}}</strong> </span>
          <span>{{work.organizationName}} </span>
          <span> {{work.city}}, {{work.state}} </span>
          <span className="float-right"> {{work.from}} - {{work.to}} </span>
          <ul>
            {% for bullet in work.about.split('\\n') %}
            <li>{{ bullet }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      <!-- Leadership Experience -->
      {% if resumeData.leadershipExperience %}
      <div>
        <div class="section-title">Campus Involvement & Leadership</div>
        {% for leadership in resumeData.leadershipExperience %}
        <div class="indent-paragraph flex-between">
          <div>
            <span>{{ leadership.title }}</span>
            <span>{{ leadership.clubName }}</span>
          </div>
          <span class="text-right">{{ leadership.date }}</span>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      <!-- Volunteer Experience -->
      {% if resumeData.volunteerExperience %}
      <div>
        <div class="section-title">Volunteer Experience</div>
        {% for volunteer in resumeData.volunteerExperience %}
        <div class="indent-paragraph flex-between">
          <div>
            <span>{{ volunteer.organizationName }}</span>
            <span>{{ volunteer.city }}, {{ volunteer.state }}</span>
          </div>
          <span class="text-right">{{ volunteer.date }}</span>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </body>
</html>
